<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prysm Webinterface [Test]</title>
    <head>
        <style>
            
        </style>
        <body>
            <a id="text"><%= token %></a>
         </body>
    </head>
</html>